name: Primer workflow

on: push

jobs:
  validar:
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - name: Seguridad codigo
        uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
